body {
  position: relative;
}

body .header {
  direction: rtl;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: 0.8;
  display: block;
}

body .header:hover {
  opacity: 1;
}

body .header .checkBtn {
  position: fixed;
  z-index: 1;
  right: 0;
  font-size: 30px;
  color: white;
  line-height: 53px;
  margin-right: 15px;
  cursor: pointer;
}

body .header #check {
  display: none;
}

body .header .logo {
  position: fixed;
  z-index: 1;
  left: 15px;
  color: white;
  font-size: 30px;
  line-height: 53px;
  font-weight: bold;
}

body .header .logo span {
  color: #05f7ff;
}

body .header .list {
  margin: 0;
  position: fixed;
  height: 100%;
  background: #2c3e50;
  left: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

body .header .list li {
  display: block;
  line-height: 30px;
  margin: 100px 0;
}

body .header .list li a {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 7px;
}

body .header .list .active, body .header .list a:hover {
  background: none;
  color: #5a9bcc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .header #check:checked ~ ul {
  left: 0;
  width: 100%;
}

body .footer {
  direction: rtl;
  text-align: center;
  background: #303036;
  color: #d3d3d3;
  height: 850px;
  position: relative;
  bottom: 0;
}

body .footer a {
  text-decoration: none;
}

body .footer .footerContent {
  height: 100%;
  display: inline-block;
}

body .footer .footerContent h1 {
  display: inline-block;
}

body .footer .footerContent h1, body .footer .footerContent h2 {
  color: white;
}

body .footer .footerContent h1 span, body .footer .footerContent h2 span {
  color: #05f7ff;
}

body .footer .footerContent .about h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

body .footer .footerContent .about span {
  font-size: 25px;
  display: block;
}

body .footer .footerContent .about .socials a {
  border: 1px solid gray;
  width: 31px;
  height: 31px;
  margin-top: 20px;
  margin-right: 5px;
  display: inline-block;
  font-size: 23px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .footer .footerContent .about .socials a i {
  margin: 5px 0;
}

body .footer .footerContent .about .socials a:hover {
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .footer .footerContent .about .contact span {
  font-size: 20px;
}

body .footer .footerContent .about .contact i {
  display: inline-block;
}

body .footer .footerContent .about .contact i span {
  float: right;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}

body .footer .footerContent .links h2 {
  margin: 5px;
}

body .footer .footerContent .links ol {
  margin-top: 10px;
  display: inline-block;
}

body .footer .footerContent .links ol a {
  margin-bottom: 10px;
  font-size: 20px;
}

body .footer .footerContent .links ol li {
  text-align: right;
  margin: 10px;
}

body .footer .footerContent .links ol li:hover {
  color: white;
  margin-right: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .footer .footerContent a {
  color: white;
}

body .footer .footerContent .footerSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  border-top: 3px #4e4c4c solid;
  border-left: 3px #4e4c4c solid;
  border-right: 3px #4e4c4c solid;
  height: 250px;
}

body .footer .footerContent .contactForm h2 {
  margin: 5px;
}

body .footer .footerContent .contactForm .form {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

body .footer .footerContent .contactForm .contactInput {
  background: #272727;
  color: #bebdbd;
  margin: 8px 0;
  line-height: 25px;
  padding: 10px 12px;
  border: none;
  width: 70%;
}

body .footer .footerContent .contactForm .contactInput:focus {
  background: #1a1a1a;
}

body .footer .footerContent .btn {
  padding: 8px 13px;
  background: #006669;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

body .footer .footerContent .btn:hover {
  background: #005255;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .footer .fooretBottom {
  background: #343a40;
  color: #686868;
  height: 45px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 17px;
}

@media only screen and (min-width: 600px) {
  body .header {
    height: 60px;
  }
  body .header .checkBtn {
    font-size: 0px;
    display: none;
  }
  body .header #check {
    display: none;
  }
  body .header .logo {
    line-height: 60px;
    padding-left: 10px;
  }
  body .header .list {
    height: 60px;
    background: black;
    width: 100%;
    right: 0px;
    top: 0;
  }
  body .header .list li {
    float: right;
    line-height: 60px;
    margin: 0 10px;
  }
  body .header .list li a {
    font-size: 30px;
  }
  body .header .list .active, body .header .list a:hover {
    background: #1b9bff;
    color: #dae0e4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .footer {
    height: 425px;
  }
  body .footer .btn {
    float: none;
  }
  body .footer .footerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 76%;
  }
  body .footer .footerContent .about h1 {
    font-size: 25px;
  }
  body .footer .footerContent .about span {
    font-size: 25px;
  }
  body .footer .footerContent .about .contact span {
    font-size: 15px;
  }
  body .footer .footerContent .about .contact span i {
    display: inline-block;
  }
  body .footer .footerContent .footerSection {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
    height: 330px;
  }
  body .footer .footerContent .contactForm .contactInput {
    float: none;
  }
  body .footer .fooretBottom {
    height: 50px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 992px) {
  body .footer {
    height: 350px;
  }
  body .footer .footerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 76%;
  }
  body .footer .footerContent .footerSection {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
  }
  body .footer .footerContent .about h1 {
    font-size: 30px;
  }
  body .footer .footerContent .about span {
    font-size: 30px;
  }
  body .footer .footerContent .about p {
    margin: 0;
    font-size: 20px;
  }
  body .footer .footerContent .about .contact {
    margin-top: 5px;
  }
  body .footer .footerContent .about .contact span {
    margin-top: 10px;
    font-size: 20px;
  }
  body .footer .links h2 {
    font-size: 30px;
  }
  body .footer .links ol li {
    margin-bottom: 20px;
    font-size: 25px;
  }
  body .footer .contactForm h2 {
    font-size: 25px;
    margin: 20px;
  }
  body .footer .contactForm .contactInput {
    font-size: 20px;
  }
  body .footer .btn {
    font-size: 20px;
  }
  body .footer .fooretBottom {
    height: 41px;
    padding-top: 15px;
  }
}

body {
  direction: rtl;
  text-align: center;
  margin: 0;
  position: relative;
  font-family: sans-serif;
  background-color: #1b1a1a;
  color: white;
}

body main {
  height: 1200px;
}

body main .title {
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .title span {
  color: #05f7ff;
}

body main .des {
  margin-right: 10px;
  border-bottom: 5px black solid;
  text-align: right;
  position: relative;
  top: 150px;
}

body main .des h1 {
  font-size: 25px;
  margin: 30px 0;
}

body main .des h2 {
  font-size: 20px;
}

body main .des p {
  line-height: 40px;
  font-size: 20px;
  margin-top: 20px;
}

body main .des p .btn {
  color: #05f7ff;
  width: 100px;
  border: 0px solid #fff;
  padding: 3px 3px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .des p .btn:hover {
  background-color: #05f7ff;
  color: black;
  -webkit-box-shadow: 0 0 10px #05f7ff,0 0 40px #05f7ff,0 0 80px #05f7ff;
          box-shadow: 0 0 10px #05f7ff,0 0 40px #05f7ff,0 0 80px #05f7ff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body main .des .pic img {
  width: 300px;
  margin-bottom: 20px;
}

body main .client {
  margin-right: 10px;
  position: absolute;
  top: 760px;
}

body main .comment {
  width: 300px;
  height: 260px;
  background: #02bdc4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  position: relative;
  border-radius: 5px;
  top: 300px;
  right: 10px;
}

body main .comment p {
  text-align: right;
  position: absolute;
  right: 125px;
  width: 170px;
  line-height: 20px;
  font-size: 15px;
  padding: 5px 5px;
}

body main .comment .img {
  position: absolute;
  background-color: white;
  right: 5px;
  top: -50px;
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

body main .comment .img img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
}

@media only screen and (min-width: 600px) {
  body main {
    height: 900px;
  }
  body main .des {
    margin: 10px;
  }
  body main .des .pic img {
    height: 155px;
    width: 280px;
    margin: 0px 3px;
    margin-bottom: 20px;
  }
  body main .client {
    margin: 10px;
    top: 530px;
  }
  body main .comment {
    width: 530px;
    height: 170px;
    top: 300px;
  }
  body main .comment p {
    right: 150px;
    width: 370px;
    font-size: 17px;
  }
  body main .comment .img {
    top: -70px;
    width: 140px;
    height: 140px;
  }
  body main .comment .img img {
    width: 120px;
  }
}

@media only screen and (min-width: 992px) {
  body main {
    height: 1000px;
  }
  body main .des {
    margin-right: 25px;
    height: 480px;
  }
  body main .des h1, body main .des h2, body main .des p {
    width: 50%;
  }
  body main .des h1 {
    font-size: 30px;
  }
  body main .des h2 {
    font-size: 23px;
  }
  body main .des p {
    font-weight: bold;
    font-size: 23px;
  }
  body main .des .pic img {
    position: absolute;
    left: 25px;
    height: auto;
    width: 450px;
    margin: 0px 3px;
  }
  body main .des .pic .img1 {
    top: 0;
  }
  body main .des .pic .img2 {
    top: 260px;
  }
  body main .client {
    margin: 20px;
    top: 630px;
  }
  body main .comment {
    top: 300px;
    width: 680px;
    height: 150px;
  }
  body main .comment p {
    right: 180px;
    width: 480px;
    font-size: 20px;
  }
  body main .comment .img {
    position: absolute;
    right: 5px;
    top: -80px;
    width: 160px;
    height: 160px;
    border-radius: 5px;
  }
  body main .comment .img img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 140px;
  }
}
/*# sourceMappingURL=homePage.css.map */